html {
    scroll-behavior: smooth;
}

body {
    --color-theme-duration: .333s;
    
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
    font-size: 16px;
    word-wrap: break-word;
    transition: background-color ease-out, color ease-out;
    transition-duration: var(--color-theme-duration);
}

p {
    margin: 0;
}

.lighttheme {
    --bg-color: #F7F7F7;
    --overlay-color: #F7F7F7;
    --theme-selector-bg: #d6d6d6;
    --syntax-container-bg: #e9e9e9;
    --theme-selector-selected-bg: #F7F7F7;
    --accent-color: #1973C1;
    --primitiveType-color: #5db52a;
    --definedType-color: #FF9409;

    color-scheme: light;
    background-color: var(--bg-color);
    color: hsl(0, 0%, 19%);
}

.darktheme {
    --bg-color: hsla(0, 0%, 13%, 100%);
    --overlay-color: hsla(0, 0%, 23%, 100%);
    --theme-selector-bg: hsla(0, 0%, 16%, 100%);
    --syntax-container-bg: hsla(0, 0%, 20%, 100%);
    --theme-selector-selected-bg: hsla(0, 0%, 23%, 100%);
    --accent-color: hsla(200, 100%, 65%, 1);
    --primitiveType-color: #a2e57b;
    --definedType-color: #FFC324;

    color-scheme: dark;
    background-color: var(--bg-color);
    color: hsl(0, 0%, 90%);
}

input {
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: inherit;
}

::placeholder {
    color: inherit;
    opacity: .6; /* Firefox */
}
  
::-ms-input-placeholder { /* Edge 12-18 */
    color: inherit;
    opacity: .6;
}

#fixed_topbar {
    z-index: 1;
    display: inline-flex;
    flex-direction: row;
    position: fixed;
    right: 42px;
    gap: 32px;
}

#search_section {
    --search-section-radius: 8px;
    --search-section-space: 14px;
    --search-section-width: 220px;

    display: inline-flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--overlay-color);
    box-shadow: 0px 0px 42px 0px rgba(0, 0, 0, .15);
    border-radius: var(--search-section-radius);
    transition: width 175ms ease-out;
    padding: 0px;
    gap: 0px;
    width: var(--search-section-width);
    overflow: hidden;
}

#search_section:focus-within, #search_section:hover, #search_section.stay_focus {
    --search-section-width: 389px;
}

#search_section > * {
    border: none;
    outline: none;
    background-color: transparent;
}

#search_section > i {
    margin-left: var(--search-section-space);
    margin-right: var(--search-section-space);
    font-size: 16px;
    opacity: .6;
}

#search_box {
    border-radius: var(--search-section-radius);
    padding: 10px 0px;
    width: 175px;
    align-self: stretch;
}

.select_menu {
    --chevron-size: 16px;

    display: inline-flex;
    flex-direction: column;
    gap: 0px;
    margin-left: var(--search-section-space);
}

.select_menu .select_button {
    display: inline-flex;
    padding: 10px 14px;
    align-items: center;
    justify-content: space-between;
    opacity: .6;
    cursor: pointer;
    box-sizing: border-box;
    border-left: 1.75px solid var(--theme-selector-bg);
}

.select_menu .select_button i {
    font-size: var(--chevron-size);
    transform: rotate(0deg);
    transition: transform 133ms ease-out;
}

.select_menu.active .select_button i {
    transform: rotate(-180deg);
}

.select_menu .options {
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    margin-top: 16px;
    padding: 8px;
    box-shadow: 0px 0px 42px 0px rgba(0, 0, 0, .15);
    border-radius: var(--search-section-radius);
    background-color: var(--overlay-color);
    visibility: hidden;
}

.select_menu.active .options {
    visibility: visible;
}

.options .option {
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    padding: 8px 10px;
    white-space: nowrap;
    padding-right: calc(var(--chevron-size) + 8px + 1.75px);
    border-radius: calc(.5 * var(--search-section-radius));
}

.options .option:hover {
    background-color: var(--theme-selector-bg);
}

#theme_selector {
    --theme-selector-radius: 8px;

    display: inline-flex;
    flex-direction: row;
    width: 88px;
    background-color: var(--theme-selector-bg);
    box-shadow: 0px 0px 42px 0px rgba(0, 0, 0, .15);
    border-radius: var(--theme-selector-radius);
    transition: width 175ms ease-out;
}

#theme_selector:hover {
    width: 128px;
}

.theme_option_radio {
    display: none;
}

.theme_option {
    display: inline-flex;
    flex-direction: row;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: var(--theme-selector-radius);
    width: 24px;
    transition: background-color 0ms ease-out, width 175ms ease-out;
}

.theme_option:hover {
    width: 64px;
}

.theme_option img {
    max-width: 24px;
}

.theme_option span {
    display: inline-flex;
    overflow: hidden;
    word-wrap: nowrap;
    align-self: stretch;
    opacity: 0;
    transition: opacity 400ms ease-out;
    margin-top: 3px;
    margin-left: 4px;
}

.theme_option:hover span {
    opacity: 1;
}

.theme_option_radio:checked + .theme_option {
    background-color: var(--theme-selector-selected-bg);
}

.accent_color {
    color: var(--accent-color);
    transition: background-color ease-out, color ease-out;
    transition-duration: var(--color-theme-duration);
}

.text_item {
    align-self: auto;
    word-wrap: break-word;
}

.text_item.header {
    font-size: 32px; font-weight: 700;
}

.text_item.title {
    font-size: 24px; font-weight: 600;
}

.text_item.subtitle {
    font-size: 20px; font-weight: 600;
}

.text_item.normal {
    font-size: 20px; font-weight: 400;
}

.text_item.light {
    font-size: 20px; font-weight: 300;
}

.combine_text {
    display: inline-flex;
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    overflow: none;
    white-space: pre;
}

#root {
    align-self: stretch;
    justify-content: center;
    align-items: center;
    display: inline-flex
}

.root_container {
    flex: 1 1 0;
    align-self: stretch;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.navigation {
    --margin-size: 28px;
    --padding-size: 20px;

    margin: var(--margin-size);
    padding: var(--padding-size);
    min-width: 188px;
    max-width: 280px;
    height: calc(100dvh - var(--margin-size) * 2 - var(--padding-size) * 2);
    border-radius: 14px;
    gap: 14px;
    background: var(--overlay-color);
    box-shadow: -2.5px 0px 42px 0px rgba(0, 0, 0, .0875);
    position: relative;
    display: inline-flex;
    overflow: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    transition: background-color ease-out, color ease-out;
    transition-duration: var(--color-theme-duration);
}

.navigation .table_of_content {
    --toc-gap: 14px;

    gap: var(--toc-gap);
    display: inline-flex;
    overflow: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding-right: var(--padding-size);
    margin-right: calc(var(--padding-size) * -1);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.navigation .table_of_content::-webkit-scrollbar {
    display: none;
}

.table_of_content .toc_item {
    margin-left: 28px;
    margin-top: calc(var(--toc-gap) / -1.525);
    display: inline-flex;
    flex-direction: column;
    gap: 6px;
    
    max-height: 0;
    min-height: 0;
    overflow: hidden;
    transition: min-height ease-out, max-height ease-out;
    transition-duration: 133ms;
}

.toc_item a {
    color: inherit;
    text-decoration: none !important;
}

.toc_item a:hover {
    opacity: .75;
}

.expander {
    cursor: pointer;
}

.expander:after {
    font-family: "tabler-icons";
    font-style: normal;
    
    content: '\ea61';
    font-weight: 600;
    float: right;
    margin-right: 4px;
    margin-left: 28px;
    transform: rotate(0deg) scale(.8);
    transition: transform 133ms ease-out;
}
  
.isExpanded:after {
    transform: rotate(90deg) scale(.8);
}

.content_area {
    flex: 1 1 0;
    align-self: stretch;
    padding: 28px;  
    border-radius: 14px;
    overflow: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 14px;
    display: inline-flex;
}

.content_area .feature_item {
    display: inline-flex;
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    overflow: none;
    gap: 6px;
    margin-bottom: 40px;
}

.feature_item.hide_for_search {
    display: none;
}

.feature_category.hide_for_search {
    display: none;
}

.feature_item .type_icon {
    height: calc(20px * .65 + 12px);
    margin-right: 12px;
}

.feature_item .feature_compl_name {
    background-color: var(--overlay-color);
    box-shadow: 0px 0px 42px 0px rgba(0, 0, 0, .0875);
    border-radius: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 0;
    max-width: fit-content;
    transition: background-color ease-out, color ease-out;
    transition-duration: var(--color-theme-duration);
}

.feature_item .description_text {
    margin-top: 6px;
    font-size: 16px;
}

.syntax-container {
    background-color: var(--syntax-container-bg);
    border-radius: 6px;
    padding: 12px 16px;

    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    display: inline-flex;
    flex-direction: column;
    gap: 28px;
}

.syntax-container > div {
    display: inline-flex;
    flex-direction: column;
    flex: 1 1 0;
    gap: 4px;
}

.syntax-container > div > p:first-of-type {
    margin-bottom: 2px;
}

.keyword {
    color: var(--accent-color);
    font-style: italic;
    font-weight: 650;
}

.primitive {
    color: var(--primitiveType-color);
}

.definedType {
    color: var(--definedType-color);
    font-weight: 650;
}

.syntax-description-root {
    margin-bottom: 4px;
    display: inline-flex;
    flex-direction: column;
    column-gap: 48px;
    row-gap: 4px;
    opacity: .6;
}

.syntax-description {
    display: inline-flex;
    flex-direction: column;
    gap: 4px;
    flex: 1 1 auto;
    align-self: stretch;
}

.syntax-description > .description-type {
    font-weight: 600;
    align-self: stretch;
}

.syntax-description > .description-value {
    align-self: stretch;
    margin-left: 24px;
}
